*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ralentir le scroll */
html{
    scroll-behavior: smooth;
}
body{
    
    font-family: 'raleway' , sans-serif;
}

/* header */
/* logo */
header{

    display: flex;
    justify-content: space-between;
  
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    
}
img{
    width: 100px;
}
/* nav */
nav ul{
    display: flex;
}

nav li{
    
    list-style-type: none;
    padding: 20px;
    
}
nav a{
  
    border-top: 2px solid transparent;
}
a {
    color: black;
    text-decoration: none;
}

a:active{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
nav a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;

}
/* end header */

main{
    width: 90%;
    margin: auto;
   
}

/* first part  */
h1{
    font-weight: bold;
    margin-bottom: 10px;
}
/* formulaire */
.formulaire
 {
     display:flex;
     margin-top: 20px;
     margin-bottom: 10px;

 }

 .formulaire i{
     border: 1px solid #F2F2F2;
     background-color: #F2F2F2;
     border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    padding: 20px;
     
 }
 input {
     font-weight: bold;
     color: black;
     font-family: 'raleway' , sans-serif;
     padding: 15px;
     font-size: larger;
     border-left: none;
     border-right: none;
     border-bottom: 1px solid #F2F2F2;
     border-top:1px solid #F2F2F2;
 }

 .rechercher{
     background-color: #0065FC;   
    color: white;
    border: 1px solid #0065fc;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;

 }
/* end formulaire */
/* filtres */
.filtre {
    margin-top: 40px;
    margin-bottom: 40px;
    display:flex;
    

}
 .Eco a{
     display: flex;
     margin-right: 20px;
     align-items: center;
     text-align: center;
     justify-content: center;
     border-radius: 30px;
     border: 2px solid #F2F2F2;
     
 }

 h3{
    margin-right: 20px; 
    display: flex;
    align-items: center;
    padding:0;
    

 }

 .Eco i{
     background-color: #DEEBFF;
     border:2px solid #DEEBFF;
     border-radius: 25px;
     color: #0065FC;
     width: 52px;
     height: 52px;
     display: flex;
     justify-content: center;
     align-items: center;       
 }

 .nomfiltre {    
    padding: 10px;       
    height:50px;
 }

 .filtre a:hover{
     background-color: #DEEBFF;
     border:2px solid #0065FC;
     border-radius: 30px;
 }

/* end filtre */

 .information {     
    display: flex;
    align-items: center;
    margin-bottom: 40px;
 }

 .information i {
     border: 1px solid #F2F2F2;
     border-radius: 50px;
     color:#0065FC;
     width: 30px;
     height: 30px;
     display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
 }

 /* end first part */
 /* second part */
 #hebergements{
     width: 60%;
     background-color: #F2F2F2;
     border-radius: 20px;
     padding: 30px;
 }

 #hebergements h2{     
     margin-bottom: 30px;
 }

.card{
     width: 30%;
     background-color: white;
     border-radius: 20px;
     box-shadow: 0px 0px 15px -7px #7D7D7D;     
 }

 .card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border: 5px solid white ;
    border-radius: 20px 20px 0px 0px;   
 }

 
 .card-body{
     background-color: white;
     border: 5px solid white ;
     border-radius: 0px 0px 20px 20px;
     padding-left: 10px;
     padding-bottom: 5px;
     line-height: 1.5;
 }

 .lign{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;    
 }

/* aside */
aside{    
    width: 35%;
     background-color: #F2F2F2;
     border-radius: 20px;
     padding: 30px;
}

.annonces{
    display:flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.pop{
    display:flex;
    justify-content: space-between;
}

.cardpop{
         background-color: white;
     border-radius: 20px;
      box-shadow: 0px 0px 15px -7px #7D7D7D;
    display: flex;
    margin-top: 30px;

}
.cardpop .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border-radius: 20px;


}
.cardpop img{
    width: 40%;
    height: 190px;
    object-fit: cover;
    border: 5px solid white ;
    border-radius: 20px 0px 0px 20px; 
}

/* end aside */
/* section activity */
.bloc{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.cardport{
    width: 20%;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -7px #7D7D7D;
}

.cardport img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.cardtitle{
    padding: 10px;

}
.carduo{
    width: 20%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
/* card3-3 */
.fort img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.fort{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -7px #7D7D7D;
    
}
/* card3-4 */
.frioul{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -7px #7D7D7D;
}
.frioul img{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* card3-5 */
.dame{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -7px #7D7D7D;
}
.dame img{
    width: 100%;
    height: 145px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* card3-6 */
.parc img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.parc{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -7px #7D7D7D;
}



/* footer */

footer{
    background-color: #F2F2F2;
    padding: 50px;
    display:flex;
    margin-top:50px;
  }

footer li{
    list-style-type: none;
}

.about,.nosheber,.assist{
    width: 30%;
}
 footer ul{
     line-height: 2;
 }
 footer h3{
     margin-bottom: 20px;
 }
 .small, .medium{
     display: none;
 }

 /*responsive tablette max with 992 px*/

 @media screen and (max-width: 992px){


.card-body, footer, .filtre{
    font-size: small;
}

.cardpop img{
    
  height: 160px;
  
}

.medium{
    display: block;
}

.large{
    display: none;
}
 

 }
     
 /* fin responsive tablette max with 992 px*/
/*responsive tel max with 768 px*/

@media screen and (max-width: 768px){

.small{
    display: block;
}
.medium{
    display: none;}
.filtre{
   flex-wrap: wrap;
   justify-content: center;
}
.filtre a{
    margin-top: 5px;
}
.annonces{
    flex-direction: column;
}

#hebergements, aside{
    width: 100%;
    margin-bottom: 20px;
}
aside a{
    width: 30%;
}

.populary{
    display:flex;
    justify-content: space-between;
}

.cardpop{
    flex-direction: column;
}
.cardpop img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
footer{
    justify-content: space-between;
}
}

